In [30]:
import pandas as pd
import geopandas as gpd
import random
df = gpd.read_file("./trips.csv", encoding="utf-8", geometr)
print(df.head()) 

count = 0
total = 100000000

   region                                 origin_coord  \
0  Prague   POINT (14.4973794438195 50.00136875782316)
1   Turin   POINT (7.672837913286881 44.9957109242058)
2  Prague  POINT (14.32427345662177 50.00002074358429)
3   Turin  POINT (7.541509189114433 45.09160503827746)
4   Turin  POINT (7.614078119815749 45.13433106465422)

                             destination_coord             datetime  \
0  POINT (14.43109483523328 50.04052930943246)  2018-05-28 09:03:40
1  POINT (7.720368637535126 45.06782385393849)  2018-05-21 02:54:04
2  POINT (14.47767895969969 50.09339790740321)  2018-05-13 08:52:25
3   POINT (7.74528653441973 45.02628598341506)  2018-05-06 09:49:16
4  POINT (7.527497142312585 45.03335051325654)  2018-05-23 12:45:54

            datasource geometry
0            funny_car     None
1             baba_car     None
2         cheap_mobile     None
3  bad_diesel_vehicles     None
4        pt_search_app     None

In [46]:
df['origin_coord'] = gpd.GeoSeries(df['origin_coord'])

/tmp/ipykernel_113012/239633012.py:1: FutureWarning:     You are passing non-geometry data to the GeoSeries constructor. Currently,
    it falls back to returning a pandas Series. But in the future, we will start
    to raise a TypeError instead.
  df['origin_coord'] = gpd.GeoSeries(df['origin_coord'])

In [53]:
df['origin_coord']

0      POINT (14.4973794438195 50.00136875782316)
1      POINT (7.672837913286881 44.9957109242058)
2     POINT (14.32427345662177 50.00002074358429)
3     POINT (7.541509189114433 45.09160503827746)
4     POINT (7.614078119815749 45.13433106465422)
                         ...
95    POINT (14.33562319852013 50.05977285737693)
96    POINT (9.996714798980491 53.52203690589671)
97      POINT (14.40975521275597 50.037791514028)
98    POINT (10.08338857045871 53.59661344302611)
99    POINT (14.61738744026195 50.03346482370401)
Name: origin_coord, Length: 100, dtype: object

In [31]:
random.seed(2)

In [32]:
random.randint(20,100)/10000.0

0.0027

In [38]:
df['origin_coord'] = df['origin_coord'].p.x + random.randint(20,100)/10000.0

AttributeError: 'Series' object has no attribute 'p'

In [58]:
df['origin_coord'].set_crs(4326, allow_override=True)

AttributeError: 'Series' object has no attribute 'set_crs'

In [57]:
df.dtypes

region                 object
origin_coord           object
destination_coord      object
datetime               object
datasource             object
geometry             geometry
dtype: object

In [77]:
df = pd.read_csv('trips.csv')


gs_origin = gpd.GeoSeries.from_wkt(df['origin_coord'])
gs_dest = gpd.GeoSeries.from_wkt(df['destination_coord'])



gdf = gpd.GeoDataFrame(df, geometry=gs_origin, crs="EPSG:4326")
gdf.rename({'geometry': 'origin_coord'})
gdf = gpd.GeoDataFrame(gdf, geometry=gs_dest, crs="EPSG:4326")
gdf.rename({'geometry': 'destination_coord'})

,region,origin_coord,destination_coord,datetime,datasource,geometry
0,Prague,POINT (14.4973794438195 50.00136875782316),POINT (14.43109483523328 50.04052930943246),2018-05-28 09:03:40,funny_car,POINT (14.43109 50.04053)
1,Turin,POINT (7.672837913286881 44.9957109242058),POINT (7.720368637535126 45.06782385393849),2018-05-21 02:54:04,baba_car,POINT (7.72037 45.06782)
2,Prague,POINT (14.32427345662177 50.00002074358429),POINT (14.47767895969969 50.09339790740321),2018-05-13 08:52:25,cheap_mobile,POINT (14.47768 50.09340)
3,Turin,POINT (7.541509189114433 45.09160503827746),POINT (7.74528653441973 45.02628598341506),2018-05-06 09:49:16,bad_diesel_vehicles,POINT (7.74529 45.02629)
4,Turin,POINT (7.614078119815749 45.13433106465422),POINT (7.527497142312585 45.03335051325654),2018-05-23 12:45:54,pt_search_app,POINT (7.52750 45.03335)
...,...,...,...,...,...,...
95,Prague,POINT (14.33562319852013 50.05977285737693),POINT (14.45302412886982 50.06961029075634),2018-05-03 18:56:45,cheap_mobile,POINT (14.45302 50.06961)
96,Hamburg,POINT (9.996714798980491 53.52203690589671),POINT (10.17431393081631 53.51796499041119),2018-05-23 12:43:17,baba_car,POINT (10.17431 53.51796)
97,Prague,POINT (14.40975521275597 50.037791514028),POINT (14.59895464921585 50.05472087955579),2018-05-12 08:13:09,cheap_mobile,POINT (14.59895 50.05472)
98,Hamburg,POINT (10.08338857045871 53.59661344302611),POINT (10.17914017806172 53.60909301795856),2018-05-22 10:39:49,baba_car,POINT (10.17914 53.60909)
99,Prague,POINT (14.61738744026195 50.03346482370401),POINT (14.31199296863995 50.09604608872181),2018-05-15 22:10:03,baba_car,POINT (14.31199 50.09605)

In [79]:
gdf.dtypes

region                 object
origin_coord           object
destination_coord      object
datetime               object
datasource             object
geometry             geometry
dtype: object

In [80]:
gdf.origin_coord.x

AttributeError: 'Series' object has no attribute 'x'